<div class="listing-container">
  <div class="stream-image-container">
    <a href={{stream.url}} target="_blank"><img src={{stream.image}} alt=""></a>
  </div>
<div class="stream-info">
  <a href={{stream.url}} class="stream-url-title" target="_blank"><h2>{{stream.title}}</h2></a>
  <span class="game-title">{{stream.game}}</span><span class="game-viewers"> - {{stream.viewers}} viewers</span>
</div>
</div>
